/* src/global.css */

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

/* Add your global CSS rules here */
body {
  font-family: sans-serif;
}
.bold {
  font-weight: bold;
}
a {
 color: green;
}
}

/* Other global CSS rules */



