<div class="border-b border-gray-200 mb-6 mt-4"></div>

<p class="text-slate-600 sm:text-lg mb-4">
  <strong
    >Questions/Comments? <a
      href="mailto:mattosurf@gmail.com"
      class="text-green-600 underline">Email us</a
    ></strong
  >
</p>
