---

---

<nav class="bg-white w-full flex items-center">
  <div
    class="sm:flex justify-between w-full p-2 pl-4 pr-4 lg:p-0 border-b-2 border-slate-100"
  >
    <div
      class="bg-white flex sm:mt-4 sm:mb-4 items-center justify-center text-green-600 text-lg font-bold"
    >
      <a href="/"> Keep the Apostrophe in Irish Names</a>
    </div>
    <div
      class="bg-white flex items-center justify-center text-lg active:text-red-500 text-slate-800"
    >
      <div class=""><a href="/">Home</a></div>
      <div class="pl-4"><a href="/joinus"> Join Us</a></div>
    </div>
  </div>
</nav>
